In [56]:
import pandas as pd
import numpy  as np
import matplotlib as plt

# 6.Mobile Phone Price Data set:

a)	Identify the models & the price released by each brand.

In [14]:
data=pd.read_csv("Mobile phone price_6thQuestion.csv")
display(data)

data[["Brand","Model","Price ($)"]]

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799
...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649

       Brand              Model Price ($)
0      Apple      iPhone 13 Pro       999
1    Samsung   Galaxy S21 Ultra      1199
2    OnePlus              9 Pro       899
3     Xiaomi  Redmi Note 10 Pro       279
4     Google            Pixel 6       799
..       ...                ...       ...
402  Samsung   Galaxy Note20 5G      1049
403   Xiaomi      Mi 10 Lite 5G       349
404    Apple  iPhone 12 Pro Max      1099
405     Oppo              Reno3       429
406  Samsung    Galaxy S10 Lite       649

[407 rows x 3 columns]

b)	Identify the correlation between Battery Capacity and price.

In [25]:
lst=[]
for i in data["Price ($)"]:
    if "," in i:
        i=(i.replace(',',''))
    if "$" in i:
        lst.append(i[1:])
    else:
        lst.append(int(i))
data['Price']=lst
print(data["Battery Capacity (mAh)"].corr(data["Price"]))

-0.39658137643652003

c)	Find how many models are there per each Battery capacity with same price.

In [82]:
data.groupby(["Battery Capacity (mAh)","Price"])["Model"].unique()

#data.groupby(['Battery Capacity (mAh)', 'Price']).filter(lambda x: x['Model'].nunique() > 1)['Model'].unique().size

Battery Capacity (mAh)  Price
1821                    399      [iPhone SE (2nd Gen), iPhone SE (2020)]
                        449                           [iPhone SE (2020)]
2227                    699                             [iPhone 12 Mini]
                        899                             [iPhone 12 mini]
2691                    699                              [iPhone 8 Plus]
                                                  ...
6000                    349                                [Galaxy M31s]
                        379                                [Galaxy M31s]
                        999                                [ROG Phone 5]
7000                    429                                 [Galaxy M62]
                        449                                 [Galaxy M51]
Name: Model, Length: 179, dtype: object

d)	Count the number of models in each brand with highest storage. Draw the graph.

In [73]:
a=data.groupby(["Brand"])["Storage "].max()

#plt.bar(a)
display(data["Brand"].unique())
#a

array(['Apple', 'Samsung', 'OnePlus', 'Xiaomi', 'Google', 'Oppo', 'Vivo',
       'Realme', 'Motorola', 'Nokia', 'Sony', 'LG', 'Asus', 'Blackberry',
       'CAT', 'Huawei'], dtype=object)

e)	Identify how many models are released by each brand.

In [78]:
data.groupby("Brand")["Model"].count()

Brand
Apple         30
Asus           4
Blackberry     3
CAT            1
Google         7
Huawei        12
LG             3
Motorola      23
Nokia         28
OnePlus       15
Oppo          56
Realme        43
Samsung       79
Sony           1
Vivo          35
Xiaomi        67
Name: Model, dtype: int64

f)	Find the RAM capacity of all models of every brand.

In [106]:
data['RAM'] = [int(i) if 'GB' not in i else int(i[:-2]) for i in data['RAM ']]
data["RAM"]


data.groupby(["Brand","Model"])["RAM"].unique()

Brand   Model
Apple   iPhone 11               [4]
        iPhone 11 Pro Max       [4]
        iPhone 12               [4]
        iPhone 12 Mini          [4]
        iPhone 12 Pro           [6]
                               ...
Xiaomi  Redmi Note 10S          [6]
        Redmi Note 7            [4]
        Redmi Note 8            [4]
        Redmi Note 9 Pro Max    [6]
        Redmi Note 9S           [6]
Name: RAM, Length: 239, dtype: object

g)	Identify the correlation between Battery Capacity and price.

In [107]:
print(data["Battery Capacity (mAh)"].corr(data["Price"]))

-0.39658137643652003

h)	Find how many models are there per each Battery capacity.

In [109]:
#data.groupby("Battery Capacity (mAh)")["Model"].count()

i)	Calculate average price of each brand.

In [120]:
data.groupby(["Brand"])["Price"].mean()

Brand
Apple          745.666667
Asus           874.000000
Blackberry     499.000000
CAT            299.000000
Google         699.000000
Huawei         783.166667
LG             615.666667
Motorola       278.130435
Nokia          244.714286
OnePlus        644.333333
Oppo           376.142857
Realme         206.906977
Samsung        480.405063
Sony          1299.000000
Vivo           323.000000
Xiaomi         282.880597
Name: Price, dtype: float64

j)	Find which mobile brand has highest price.

In [123]:
data[data["Price"].max() == data["Price"]].Brand

373    Samsung
Name: Brand, dtype: object

k)	Identify any missing values are there in mobile phone price dataset.

In [128]:
data["Price"].isnull().sum()

0

l)	Display all models associated with apple brand.

In [130]:
print(data[data["Brand"] == "Apple"]["Model"].unique())

['iPhone 13 Pro' 'iPhone 13' 'iPhone 12 Mini' 'iPhone 11'
 'iPhone SE (2nd Gen)' 'iPhone XR' 'iPhone 11 Pro Max' 'iPhone 13 Pro Max'
 'iPhone SE (2020)' 'iPhone 12' 'iPhone XS Max' 'iPhone 8 Plus'
 'iPhone 12 mini' 'iPhone 12 Pro' 'iPhone 12 Pro Max']

m)	Find the mobile prices based on Camera (MP).

In [132]:
data.groupby("Camera (MP)")["Price"].unique()

Camera (MP)
108 + 10 + 10 + 12                                [1199]
108 + 8 + 5 + 2                                    [279]
108+10+10+12                                      [1199]
108+12+12                                         [1299]
108+13+5                                      [749, 599]
                                       ...
64MP + 8MP + 5MP          [399, 309, 329, 239, 429, 249]
64MP + 8MP + 5MP + 2MP                   [279, 299, 329]
64MP + 8MP + 5MP + 5MP                        [279, 269]
8MP                                                 [99]
8MP + 2MP                            [99, 109, 119, 129]
Name: Price, Length: 143, dtype: object

n)	List the models along with brands which have highest storage.

In [ ]:
data.query(' Model,Brand')

o)	How many models in each brand having RAM>6.

p)	List the models having price >600 and Storage between 100 and 200.